@import '@fluentui/react/dist/sass/_References';

.App {
  .App-header {
    background-color: $ms-color-gray20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2vmin;
    .App-title {
      display: flex;
      align-items: center;
      a {
        display: flex;
        align-items: center;
        margin: auto 8px;
        text-decoration: none;
      }
    }
  }

  .App-content {
    height: 100%;
    .App-world-map {
      height: 80vh;
    }
    .city-bullet {
      &[stroke-width='1'] path {
        fill: $ms-color-sharedMagentaPink10;
        animation: pulse 0.7s ease-in-out alternate infinite;
      }
      path {
        margin: 16px;
        transition: transform 0.3s ease-in-out;
        transform-origin: 9px 6px;
        &:hover {
          transform: scale(2);
        }
      }
    }
  }
}

.App-tooltip-not-found {
  padding: 0px 8px;
}

.App-weather-panel {
  p {
    display: flex;
    align-items: center;
    i {
      font-size: 32px;
      margin-right: 8px;
    }
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}
